{% extends "training_log/base.html" %}
{% block content %}
<div class="aricle">
    <p>This website was created for my final project for The Informal School of IT.</p>
    <p>It comes from my passion for climbing and it is only a first draft version,</p>
    <p>as I plan to improve it and add more functionalities aimed at climbers' needs.</p>
    <p>For the full code, click <a href=https://github.com/UVlad93/siit_project/tree/master>here.</a></p>
    <p>You can contact me on vlad.urduzan@gmail.com or on my personal website <a href="#">here.</a></p>
</div>
{% endblock content %}