{% extends "training_log/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log a training session</legend>
                {{ form }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Log Session</button>
            </div>
        </form>
        <div class="aricle">
            <p><b>Maximum Strength</b> exercises are exercises performed at 1 repetition max (1RM) and they
            are meant to test the individual's capacity of exerting high intensity effort for a 
            short period of time. In order for the testing session to be relevant, you have
            to be fully rested (at least 48-72 hours from the last session) and warmed up
            to avoid the risk of injury.</p>
            <p>List of exercises:</p>
            <ol>
            <li>Max Hangs on 20mm: This exercise tests the individual's capacity of performing a 
            half crimp deadhang on 20mm holds for 7 seconds with maximum added weight.</li>
            <li>One Arm Hangs on 20mm: This exercises tests the individual's capacity of performing
            a one arm half crimp hang on 20mm holds for 5 seconds with maximum added weight. If
            you are not able to do it at bodyweight, use a pulley system to substract weight.
            Warning! This exercise is for climbers who have a solid training history and are
            not injured!</li>
            <li>Front Lever Hold: This exercise tests the individual's capacity of performing 
            front lever for the longest time.</li>	
            <li>Max Added Weight Pull Up: This exercise tests the individual's capacity of 
            performing one pull up with the maximum amount of added weight. Use a harness
            or belt to connect the weights to your body </li>
            </ol>    
        </div>
        <div class='article'>
            <p><b>Endurance</b> exercises are meant to increase the individual's capacity of exerting 
            low intensity effort for a long time.</p>   
            <p>List of exercises:</p>
            <ol>
            <li>Max Time Hang on 20mm/10mm: This exercise improves the individual's capacity
            of performing bodyweight deadhangs on 20mm/10mm holds for the longest time
            possible</li>
            <li>Max Timed Bicycle Crunches: This exercise increases the individual's capacity
            of performing bicycle crunches for the longest time possible</li>
            <li>Max Hollow Body Hold: this exercise tests the individual's capacity of
            performing a hollow body hold on the floor for the longest time possible.</li>	
            </ol>	
        </div>
    </div>
{% endblock content %}